# Proxmox Network Parameters
PROXMOX_HOST="FILL_IN"
GATEWAY="FILL_IN"
NETMASK="255.255.255.0"
NIC_NAME="FILL_IN"  # e.g. enp3s0, eno1 — check with: ip link show

# Ansible Variables
ANSIBLE_USER="ansible"
SSH_KEY_NAME="ansible-key"
SSH_KEY_FOLDER="$HOME/.ssh"
SSH_KEY_PATH="$SSH_KEY_FOLDER/$SSH_KEY_NAME"
INVENTORY_FILE="inventory.yml"
ANSIBLE_CONFIG="ansible.cfg"
PROJECT_FOLDER="$(dirname "$(realpath "$0")")/.."
ANSIBLE_FOLDER="$PROJECT_FOLDER/ansible"
PROXMOX_ONBOARD="proxmox_onboard.yml"
SUDOER_FILE="sudoer_ansible"
# Ubuntu codename for the Ansible PPA
UBUNTU_CODENAME=jammy